.main-nav {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    border: 3px solid  rgb(255, 0, 157);
    background-color: rgb(0, 0, 0);
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: rgb(0, 157, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 157);
    
}

.container{
    display: grid;
    grid-template-areas: 
    'header header header header' 
    'content content content sidebar'
    'footer footer footer footer';
    gap: 1rem;
}


.dropdowns{
    display: none;
    position: relative;
    height: 300px;

}

.dropdowns.show {
    display: block;
}

.dropdown-box {
    display: none;
    position: absolute;
    background-color: #ec5091;
    margin-top: 25px;
    padding: 10px;
    z-index: 1;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 3px solid white;
}

.dropdown-box.show {
    display: block;
}

.dropdown-box h3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    color: #ec5091;
}

div#about-dropdown {
    margin-left: 80px;
}

div#inspiration-dropdown{
    margin-left: 590px;
}

div#contacts-box{
    margin-left: 1090px;
}




.header {
    grid-area: header;
    background-color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    margin: 10px;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.content{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.bake-buttons button > img{
    width: 300px;
}

.bake-buttons button{
    border: none;
    background-color: transparent;
}

.bake-buttons button:hover img {
    animation: bounce 0.5s infinite;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
}

@keyframes bounce {
    0%, 100% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-8px);
    }
}

.sidebar{
    grid-area: sidebar;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.sidebar h1{
    font-size: xx-large;
}























.header,
.content,
.sidebar,
.footer {
    border: 1px black solid;
    padding: 0.5rem;
}